.master_container {
    width: 772px;
}
.map_container {
    position: relative;
    width: 772px;
    height: 515px;
}
.map {
    position: absolute;
    left: 0;
    top: 0;
    /*border: 3px solid green;*/
    padding: 0px, 0px, 0px, 0px;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    /*border: 2px solid red;*/
    padding: 0px, 0px, 0px, 0px;
}

.tooltip {
    position: fixed;
    top: 50px;
    left: 50px;
    background-color: #000000;
    color: #ff0000;
    font-family: monospace;
    font-size: 12px;
}

.btn_right_align {
    float: right;
}
.hide {
    display: none;
}
#file_browser {
    display: none;
}
select {
    background-color: transparent;
    margin-top: 0px;
    padding: 3px;
    border: 0; 
    letter-spacing: .1em;
    border-radius: 0;
    &:focus, &:active {
        outline: 0;
    }
}

select.marker_list {
    background: url("assets/bkgrd_vert.png") round;
}
.marker_list {
    position: absolute;
    left: 772px;
    width: 200px;
    height: 515px;
}
.marker_msg_ta {
    margin-top: 5px;
    resize: none;
    /*width: 100%;*/
    width: 768px;
    height: 60px;
}
.overlay_container {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 80%;
    height: 50%;
    border: ridge #f3d050 3px ;
    background: url("assets/bkgrd_ov.png") round;
}

#overlay_title {
    color: #ffd000;
    text-align: center;
}
#overlay_msg {
    height: 100px;
    resize: none;
    width: 99%;
    background: url("assets/bkgrd_hori.png") round;
    background-size: cover;
}
table {
    table-layout: fixed;
}
#ta {
    width: 120px;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    margin-top: 2px;
    padding: 3px;
    border: 1; 
    letter-spacing: .1em;
    border-radius: 0;
    &:focus, &:active {
        outline: 0;
    }
}
.marker_msg_ta {
    font-family: Helvetica, Arial, Sans-Serif;
    height: 5em;
    background: url("assets/bkgrd_hori.png") round;
    background-size: cover;
}

